[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "plugins/json-mode"]
	path = plugins/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/emacs-twiki-mode"]
	path = plugins/emacs-twiki-mode
	url = https://github.com/christopherjwhite/emacs-twiki-mode.git
[submodule "plugins/browse-kill-ring"]
	path = plugins/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "plugins/dokuwiki-mode"]
	path = plugins/dokuwiki-mode
	url = git@github.com:kbkbkbkb1/emacs-dokuwiki-mode.git
[submodule "aanila"]
	path = aanila
	url = https://github.com/santoshs/aanila
