[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "plugins/json-mode"]
	path = plugins/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git

[submodule "plugins/ido-f3"]
	path = plugins/ido-f3
	url = git@github.com:dancar/ido-f3
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
