[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "plugins/json-mode"]
	path = plugins/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
