network-security.data
eshell
.mc-lists.el
auto-save-list
.mc-lists.el
ac-comphist.dat
bookmarks
.yas-compiled-snippets.el
tramp
session.*
*.elc
/elpa/yasnippet-20131224.143/snippets/cmake-mode/set
/elpa/yasnippet-20131224.143/snippets/conf-unix-mode/.yas-parents
/elpa/yasnippet-20131224.143/snippets/conf-unix-mode/section
/elpa/yasnippet-20131224.143/snippets/cpp-omnet-mode/EV
.emacs.bmk
places
.smex-items
recentf
ido.last
nit.el
